<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<parameter name="browser" value="chrome"/> 
<parameter name="product1" value="Blue Jeans"/>   
<parameter name="product2" value="Book"/>  
  <test thread-count="5" name="Test">
 
  <groups>  
<run>  
<include name="SmokeTest"/>  
</run>  
</groups> 
  

    <classes>
      <class name="Test.Demowebshop"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
